/*页面布局*/

.content-wrap{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
a:hover,a:visited,a:focus{
  text-decoration: none;
}
@media (min-width:760px){
  .content-wrap{
    flex-direction: row;
  }
}
/*页眉布局*/

.nav-header{
  display: flex;
  height: 80px;
  background-color:#009688;
  flex-shrink: 0;
  padding: 0 20px;
  color:#fff;
  align-items: center;
  justify-content: space-between;
}
.nav-header span{
  background-color: rgba(0,0,0,0.2);
  font-size: 16px;
  border-radius: 8px;
  padding: 5px 8px;
}
.nav-header p{
  margin: 0;
  padding:0;
}
.nav-header h2{
  margin: 0;
}
/*左侧导航*/
.left-nav{
  display: flex;
  flex-direction: column;
  background-color: #26A69A;
  width: 300px;
  color:#fff;

}
.left-nav h2{
  padding: 20px;
}
.line{
  height: 2px;
  background-color: #FFC107;
}
.left-nav a{
  font-size: 20px;
  color:#fff;
  padding: 20px;
}

.left-nav a:hover{
  background-color: rgba(0,0,0,0.2);
}
/*主体布局*/

.content-main{
  display: flex;
  flex-grow: 1;
  overflow-y: scroll;
}


/*home page*/
.home-container{
  display: flex;
  background-image:url(./images/1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width:100%;
}
.home-cover{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.home-item{
  margin: 0 auto;
  text-align: center;
}
.home-btn{
  background-color: #009688;
  color:#fff;
  font-size: 18px;
  border:none;
  padding: 5px 10px;
  border-radius: 4px;
}

/*blog page*/
.blog-btn{
  padding:8px 15px;
  text-decoration:none;
  border:1px solid #2962FF;
  border-radius:10px;
  width:80px;
  height:40px;
  color:#2962FF;
  font-weight:bold;

}
.blog-btn:hover{
  background-color: #2962FF;
  color:#fff;
}


/*work page*/


.work-card{
  position: relative;

  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
}
.work-card img{
  display: block;
  width: 100%;
}
.work-card-con{
  background-color: rgba(0, 0, 0, 0.5);
  padding:10px 20px;
  position: absolute;
  left:0;
  bottom:0;
  width: 100%;
}


/*页脚布局*/
.nav-footer{
  height: 80px;
  background-color: #009688;
  flex-shrink: 0;
  color:#fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-footer a{
  color: #fff;
  font-size: 18px;
  text-align: center;
  flex-grow: 1;
  border-right:1px solid white;
}
